<!DOCTYPE html>
<html lang="vi">
  <head>
    <!-- gọi đên meta -->
    <%- include('home/meta'); %>

    <!-- gọi đên css -->
    <%- include('home/css'); %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- gọi đên sidebar -->
        <%- include('home/sidebar'); %>

        <!-- gọi đên top_nav -->
        <%- include('home/top_nav'); %>
    
        <!-- gọi đên main -->
        <%- include(main); %>

        <!-- gọi đên footer -->
        <%- include('home/footer'); %>
      </div>
    </div>

    <!-- gọi đên js -->
    <%- include('home/js'); %>
  </body>
</html>
